* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
  
}
.main {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;

}
.video {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition-duration: 0ms;
  object-fit: cover;
}
.videobgbox:after {
  content: "";
  display: block;
  background: #0005;
  background-size: 2px 2px;
  z-index: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.step,
.stepbox {
  width: 100%;
  height: 100%;
  position: relative;
}
.step {
  max-width: 50rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  padding: 1rem;
  color: #000000;
}
.step.current {
  display: block;
}
.step__inner {
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
}
